<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
		  <div class="col-md-3">
		 	<%= image_tag @profile.avatar.url(:medium), height: '225', width: '200' %>
		  </div>
		  <div class="col-md-9">
		    <ul class="list-group">
		      <li class="list-group-item">İsim: <b> <%= @profile.first_name %></b></li> 
		      <li class="list-group-item">Soyisim: <b> <%= @profile.last_name %></b></li> 
			  <li class="list-group-item">E-mail: <b> <%= @profile.user.email %></b></li>
			  <li class="list-group-item">Telefon: <b> <%= @profile.phone_number %></b></li>
			  <li class="list-group-item">Akademik Ünvan: <b> <%= @profile.academic_title.text %></b></li>			  
			      <b> <textarea class="list-group-item" rows="4" cols="50" style="width:100%"> <%= @profile.about_me %>
						</textarea></b>
		    </ul>
		  </div>  
		</div> <br>
		<%= link_to "Profilimi Düzenle", edit_profile_path ,class: "btn btn-primary" if current_user == @profile.user %>
		<%= link_to "Geri", root_path, class: "btn btn-warning" if current_user == @profile.user %> <br>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-body">
			<h1>Projeler</h1> <br>
			<%= "Kullanıcının dahil olduğu proje bulunmuyor" unless @profile.user.tasks.where(translator_id: @profile.user_id).any?  %>
		<% if @profile.user.tasks.where(translator_id: @profile.user_id).any? %>
      		<hr class="divider">
      		<% @profile.user.tasks.where(translator_id: @profile.user_id).each do |task| %>
      			<% @progress = translation_progress(task.translated_article.article.project_id) %>
      			<% @translated_file_url =  translated_file_url(task.translated_article.article.project_id, task.translated_article.article.article_materials.first.material.original_filename) %>
      			<% @zanata_project_url =  zanata_project_url(task.translated_article.article.project_id, task.translated_article.article.article_materials.first.material.original_filename) %>
				<div class="panel panel-default">
				    <div class="panel-body" style= 'background: lightblue'>
				        <div class="col-md-4">
				            <h1><%= task.translated_article.article.name %></h1>
				        </div>
				        <div class="col-md-7">
				        	<h1><%= task.target_language.name %></h1>
				        </div>
				        <div class="col-md-1">
				            <%= link_to '<i class="fas fa-arrow-alt-circle-right" style="font-size: 17px"></i>'.html_safe, @zanata_project_url, {style: 'color:black', title: 'Projeye Git', target: '_blank' } %>
				            <%= link_to '<i class="fas fa-download" style="font-size: 17px"></i>'.html_safe, @translated_file_url, {style: 'color:black', title: 'Tercüme Dosyasını İndir', target: "_blank" }  %>
				        </div>
				        <div class="row">
				        <div class="col-md-12">
				        <% if @progress['percentage'] == '100' %>
				            <div class="progress">
				              <div class="progress-bar" role="progressbar" style="width: 100%; background-color: green" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				            </div> 
				        <% else %>
				            <div class="progress progress-striped active">
				              <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= @progress['percentage'] %>%"></div>
				            </div>
				        <% end %>           
				        </div>
				        </div>
				        <div class="row">
				        <div class="col-md-6">
				            <h4>Kaynak içeriği <b><%= @progress['total'] %></b> Kelime Barındırıyor</h4>
				            <h4>Bu zamana kadar <b><%= @progress['translated'] %></b> kelime tercüme edildi </h4>
				            <h4>Son Çeviri <b><%= @progress['lastTranslate'] %></b> Tarihinde Yapıldı</h4>
				            <h4>Son Değişiklik yapan kullanıcı <b><%= @progress['lastTranslatedP'] %></b></h4>
				        </div>
				        <div class="col-md-6">
				            <h4>Tercüme Durumu <b>%<%= @progress['percentage'] %></b></h4>
				            <h4>Gözden Geçirilmesi Gereken <b><%= @progress['needReview'] %></b> kelime bulunuyor</h4>
				            <h4>Tercümesi Kabul Edilen <b><%= @progress['approved'] %></b> kelime bulunuyor</h4>
				            <h4>Tercümesi Reddedilen <b><%= @progress['rejected'] %></b> kelime bulunuyor</h4>
				        </div>
				        </div>
				    </div>
				</div>
      		<% end %>
		<% else %>
		<% end %>
	</div>
</div>
