<h1>Çeviri Görevi</h1>

Durum: <%= @task.status %> <br>
<% if current_user == @task.translator && @task.in_progress?  %>
  <button class="btn btn-warning"><%= link_to "Çeviriyi Tamamla", complete_translation_path(@task), method: :put, style: "color: white" %>
  </button>  
<% elsif current_user == @task.owner && @task.pending_approval? %>
  <button class="btn btn-warning"><%= link_to "Çeviriyi Tamamla", complete_translation_path(@task), method: :put, style: "color: white" %>
  </button> <br>
  <button class="btn btn-danger">
  <%= link_to "Bitirme İsteğini Reddet", deny_complete_request_path(@task), method: :put, style: "color: white" %>
  </button>
<% end %>

<h3>Versiyonlar</h3>
<% @task.version_trackers.each do |version_tracker| %>
  Versiyon Adı:<%= link_to version_tracker.name, version_tracker_path(version_tracker) %> <br>
  Açıklama:<%= version_tracker.description %> <br> <br>
<h4>Yorum Yap</h4>
  <% version_tracker.version_tracker_comments.each do |version_tracker_comment| %>
    <h5><b> <%= version_tracker_comment.content %> <br>
    <%= version_tracker_comment.created_at.strftime("%d/%m/%Y") %> <br>
    <%= link_to version_tracker_comment.user.email, profile_path(version_tracker_comment.user) %> </b></h5> <br>
  <% end %>
    <%= render partial: 'version_tracker_comments/form', locals: {version_tracker: version_tracker} %>
<% end %>

<% if task_belongs_to_user?(@task, current_user) %>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#create_version_tracker">Yeni Versiyon Ekle</button>
<% end %>

<%= render "version_trackers/form" %>