<h1>Çeviri Görevi</h1>

Durum: <%= @task.status %> <br>

<h3>Versiyonlar</h3>
<% @task.version_trackers.each do |version_tracker| %>
  <%= link_to version_tracker.name, version_tracker_path(version_tracker) %> <br>
  <%= version_tracker.description %> <br>
  <% version_tracker.version_tracker_comments.each do |version_tracker_comment| %>
    <h5><b> <%= version_tracker_comment.content %> <br>
    <%= link_to version_tracker_comment.user.email, profile_path(version_tracker_comment.user) %> </b></h5> <br>
  <% end %>
    <%= render partial: 'version_tracker_comments/form', locals: {version_tracker: version_tracker} %>
<% end %>

<% if TasksHelper.task_belongs_to_user?(@task, current_user) %>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#create_version_tracker">Yeni Versiyonu Ekle</button>
<% end %>


<!-- Modal -->
<div id="create_version_tracker" class="modal fade" role="dialog">
 <div class="modal-dialog">
   <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">İstek Oluştur</h4>
    </div>
    <div class="modal-body">
     <%= simple_form_for(@task.version_trackers.build, url: create_version_tracker_path, method: 'post') do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :task_id, as: 'hidden', input_html: { value: @task.id} %>
        <%= f.simple_fields_for :version_tracker_material do |m| %>
          <%= m.input :description %>
          <%= m.input :material, as: :file %>
        <% end %>
        <%= f.button :submit %>
     <% end %>      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#create_version_tracker">Vazgeç</button>
    </div>
   </div>
  </div>
 </div>