Makale Adı: <%= article.name%> </br>
Açıklama:<%= article.description%> </br>
Dil:<%= article.language.name%> </br>
Etiketler:
<% article.tags.each do |tag| %>
  <%= tag.name %>
<% end %> <br> <br>
<% if article.belongs_to_user?(current_user) %>
  <%= link_to 'Düzenle', edit_article_path(article), class: "btn btn-primary" %>
  <%= link_to 'Sil', article_path(article), method: 'delete', class: "btn btn-danger" %> <br><br>
  <%= link_to 'Materyaller', article_materials_path(article), class: "btn btn-success" %>
  <%= link_to "Çevrilen Diller", translated_languages_path(article), class: "btn btn-primary" %>
  <%= link_to "Çeviri İstekleri", article_translate_orders_path(article), class: "btn btn-warning" %> <br> <br>
  <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#create_translate_order">Çeviri İsteği Oluştur</button><br>
<% end %>
