<h1>Yeni Makale</h1>
<%= simple_form_for @article do |f| %>
  <%= f.input :name%>
  <%= f.input :description%>
  <%= f.input :user_id, as: 'hidden', input_html: { value: current_user.id} %>
  Dil: <%= f.select :language_id, @languages.map {|language| [language.name, language.id]} %> </br>
  <h3>Etiketler</h3>
  <%= f.association :tags , as: :check_boxes %>
  <h3> Materyal Ekle </h3>
  <%= f.simple_fields_for :article_material do |m| %>
    <%= m.input :description %>
    <%= m.input :material,  as: :file %>
  <% end %>
  <%= f.button :submit, class: "btn btn-success"%>
<% end %>

<%= link_to 'Geri', articles_path, class: "btn btn-warning" %>