<h1>Yeni Makale</h1>
<%= simple_form_for @article do |f| %>
  <%= f.input :name%>
  <%= f.input :description%>
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id} %>
  <%= f.input :language_id, :as => :hidden, :input_html => { :value => Language.first} %>
  <%= f.button :submit%>
<% end %>

<%= link_to 'Geri', articles_path%>