<!-- Modal -->
<div id="create_translate_order" class="modal fade" role="dialog">
 <div class="modal-dialog">
   <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Teklif Ver</h4>
    </div>
    <div class="modal-body">
    <% if user_signed_in? %>
      <%= simple_form_for(@translate_order.offers.build, url: create_offer_path, method: 'post') do |f| %>
       <%= f.input :description %>
       <%= f.input :price %>
       <%= f.input :translation_time %>
       <%= f.input :translate_order_id, as: 'hidden', input_html: { value: @translate_order.id} %>
       <%= f.input :translator_id, as: 'hidden', input_html: { value: current_user.id} %>
       <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    <% else %>
      <h3>Teklif Vermek İçin Üye Girişi Yapmalısınız</h3>
      <%= link_to "Giriş Yap", new_user_session_path %> <br>
      <%= link_to "Kayıt Ol", new_user_registration_path %>
    <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#create_translate_order">Vazgeç</button>
    </div>
  </div>
 </div>
</div>