<h1> Tekliflerim </h1>
<% @offers.each do |offer| %>
  Açıklama: <%= offer.description%> </br>
  Fiyat: <%= offer.price%> </br>
  Çeviri Süresi: <%= offer.translation_time %> </br>
  Teklif Durumu: <%= offer.status%> </br>
  İlgili Makale:  <%= link_to offer.article.name, article_path(offer.article_id) %>
<% end %>