<%= render partial: 'articles/article', locals: {article: @article} %> <br><br>
<h1>Çeviri İlanları</h1> 
<% @translate_orders.each do |translate_order| %>
 <%= link_to translate_order.title, translate_order_path(translate_order) %> <br>
 <%= translate_order.description %> <br>
 <%= translate_order.price %> <br>
 <%= translate_order.source_language.name %> <br>
 <%= translate_order.target_language.name %>
<% end %>
<%= render partial: 'form', locals: {article: @article} %>