<%= @translate_order.title %> <br>
Açıklama: <%= @translate_order.description %> <br>
Çeviri Ücreti:  <%= @translate_order.price %> <br>
Kaynak Dil: <%= @translate_order.source_language.name %> <br>
Hedef Dil: <%= @translate_order.target_language.name %> <br> 
İlan Sahibi:
<%= image_tag @translate_order.user.profile.avatar.url, size: 15 %>
<%= link_to @translate_order.user.email, profile_path(@translate_order.user) %> <br> <br>


<% unless order_belongs_to_user?(@translate_order, current_user) %>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#create_translate_order">Teklif Ver</button> <br><br>
<% end %>



<h2>Teklifler</h2>
<% @offers.each do |offer| %>
  Açıklama: <%= offer.description %> <br>
  Talep Edilen Ücret: <%= offer.price %> <br>
  Çeviri Süresi: <%= offer.translation_time %> <br>
  Teklif Tarihi: <%= offer.created_at.strftime("%d/%m/%Y") %> <br>
  Teklif Eden:
  <%= image_tag offer.translator.profile.avatar.url, size: 15 %>
  <%= link_to offer.translator.email, profile_path(offer.translator.profile) %> <br>
  <% if order_belongs_to_user?(@translate_order, current_user) && !(offer.accepted?) %>  
    <button class= "btn btn-success"><%= link_to "Teklifi Kabul Et", accept_offer_path(offer), method: 'put', style: "color: white; text-decoration: none"%>
    </button>
  <% elsif order_belongs_to_user?(@translate_order, current_user) && offer.accepted? %>
    <h4> Teklif Kabul Edildi </h4>
  <% end %> <br> <br>
<% end %>

<%= render 'offers/form' %>