<!DOCTYPE html>
<html>
  <head>
    <title>Translator</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="row">
      <nav class="navbar navbar-default" style= "background-color: #24292e">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><%= link_to "Translator", root_path, style: "color: rgba(255,255,255,0.75)"%></li>
              <li><%= link_to 'Makalelerim', myarticles_path, style: "color: rgba(255,255,255,0.75)" %></li>
              <li><%= link_to 'Tekliflerim', myoffers_path, style: "color: rgba(255,255,255,0.75)" %></li>
              <li><%= link_to 'Çevirilerim', mytasks_path, style: "color: rgba(255,255,255,0.75)" %></li>
              <li><%= link_to "Çeviri İsteklerim", my_translate_orders_path, style: "color: rgba(255,255,255,0.75)" %></li>
              <li><%= link_to "Çeviri İlanları", translate_orders_path, style: "color: rgba(255,255,255,0.75)" %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: rgba(255,255,255,0.75)"><li><%= user_signed_in? ? (image_tag current_user.profile.avatar.url, size: 25)  : 'Misafir Kullanıcı'%> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if user_signed_in?%>
                    <li><a href="#"><%= link_to "Profilim", profile_path(current_user.profile), style: "color: rgba(255,255,255,0.75)" %></a></li>
                    <li><a href="#"><%= link_to "Çıkış Yap", destroy_user_session_path, method: 'delete', style: "color: rgba(255,255,255,0.75)" %></a></li>
                  <% else%>
                    <li><a href="#"><%= link_to "Giriş Yap", new_user_session_path%></a></li>
                    <li><a href="#"><%= link_to "Kayıt Ol", new_user_registration_path%></a></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </body>
</html>
